<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Resume of <%= name %></title>
        <meta name="description" content="">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/owl.theme.css">
        <link rel="stylesheet" href="css/owl.transitions.css">
		<link rel="stylesheet" href="css/animate.css"/>
        <link rel="stylesheet" href="style.css">
    </head>
	
    <body>
	
	
	
		<!--header start-->
					
				<header>
					<nav class="navbar navbar-fixed-top">
						<div class="container">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header page-scroll">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"><i class="fa fa-bars"></i></span>
								</button>
								<a class="navbar-brand" href="#page-top"><span>CV</span><%= name %></a>
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav navbar-right">
									<li><a class="active" href="#home-section">Home</a></li>
									<li><a href="#service-section">Service</a></li>
									<li><a href="#skill-section">Skills</a></li>
									<li><a href="#experience-section">Experience</a></li>
									<li><a href="#education-section">Education</a></li>
									<li><a href="#work-section">Work</a></li>
									<li><a href="#testimonial-section">References</a></li>
									<li><a href="#contact-section">Contact</a></li>
								</ul>
							</div>
							<!-- /.navbar-collapse -->
						</div>
						<!-- /.container-fluid -->
					</nav>
				</header>
			<!--header close-->
	
		
	
	
	
	
	
	
	
	
	
		<!--------------slider section start-------------->
		<!------------------------------------------------>
		<!--------------slider section start-------------->
		
		<section class="slider-section" id="home-section">		
			<div class="container">
				<div class="me-intro-wrapper fadeIn animated">
					<div class="row">
						<div class="col-md-4">
							<div class="img-intro-wrapper">
								<div class="img-cover">
									<img src="img/1472.jpg" alt="" class=""/>
								</div>
								<div class="status-cover">
									<h3><%= name %></h3>
									<h5>Software Engineer</h5>
								</div>
								<div class="download-cover">
									<div class="btn-cover">
										<a href="#"><i class="fa fa-download"></i>Download CV</a>
									</div>
								</div>
							</div>								
						</div>
						<div class="col-md-8">
							<div class="intro-cover">
								<div class="personal-summery-cover">
									<h1>Personal Summery</h1>
									<p>Experienced software engineer with a passion for developing innovative programs that expedite the efficiency and effectiveness of organizational success. Well-versed in technology and writing code to create systems that are reliable and user-friendly. Skilled leader who has the proven ability to motivate, educate, and manage a team of professionals to build software programs and effectively track changes. Confident communicator, strategic thinker, and innovative creator to develop software that is customized to meet a company’s organizational needs, highlight their core competencies, and further their success.</p>
									<p><li>Engineering professional with 3 years of experience in Software development.</li></p>
									<p><li>Mastering/Leading in the development of applications/tools using Python & React Native & Node for 3 years.</li></p>
									<p><li>Worked on several JavaScript library packages like Redux, Redux-Saga, React Native Firebase etc.</li></p>
									<p><li>Worked on several python packages like numpy, scipy, pytables etc.</li></p>
									<p><li>Experience in Design, Development, Testing, Automation, Enhancement and Maintenance of Applications and Tools.</li></p>
									<p><li>Familiarity with development best practices such as code reviews and unit testing.</li></p>
									<p><li>Experience with Version Control, ideally SVN, CVS and GIT.</li></p>
									<p><li>Leading, guiding and helping the team members with the challenges faced during the project development process and problem solving.</li></p>
									<p><li>Have flexibility and ability to learn and use new technologies and also to work in team environment as wells as independently to get things done.</li></p>
								</div>
								
								
								<div class="basic-info-wrapper">
								<h3>Basic Informarion</h3>
									<div class="row">
										<div class="col-md-6">
											<table>
												<tr>
													<th>Name:</th>
													<td><%= name %></td>
												</tr>
												<tr>
													<th>Email:</th>
													<td><%= email %></td>
												</tr>
												<tr>
													<th>Phone:</th>
													<td>+880-<%= number %></td>
												</tr>
												<tr>
													<th>Address:</th>
													<td>897, 4/A Shahidbug, Dhaka, Bangladesh</td>
												</tr>
												<tr>
													<th>Years Of Experiences:</th>
													<td>3 years +</td>
												</tr>
											</table>
										</div>
										<div class="col-md-6">
											<table>
												<tr>
													<th>D.0.B:</th>
													<td>01 Dec, 1993</td>
												</tr>
												<tr>
													<th>Age:</th>
													<td>25</td>
												</tr>
												<tr>
													<th>Languages:</th>
													<td>Bengali, English</td>
												</tr>
												<tr>
													<th>Nationality:</th>
													<td>Bangladeshi</td>
												</tr>
												<tr>
													<th>Get Social:</th>
													<td>
														<a href="https://www.facebook.com/xlentxid" target="_blank"><i class="fa fa-facebook"></i></a>
													</td>
												</tr>
												
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>	
		</section>
		<!--------------slider section close-------------->
		<!------------------------------------------------>
		<!--------------slider section close-------------->
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<!--------------features section 1 start-------------->
		<!---------------------------------------------------->
		<!--------------features section 1 start-------------->
		<section class="service-section" id="service-section">
			<div class="container features-section">
				<div class="align-wrapper">
				<div class="title-wrapper">
						<h1 class="fadeIn animated">My Services</h1>
					</div>
					<div class="service-wrapper">
					<div class="row">
						<div class="col-md-4">
							<div class="single-service-wrapper">
								<h1><i class="fa fa-mobile"></i></h1>
								<h4>Mobile Development Services</h4>
								<p>
									<p>
									React Native Android App Development. <br/>
									React Native iOS Development. <br />	
									React Native Hybrid App Development.<br />
									React Native Firebase Integration.<br />
									React Native Server-side API Development.<br />
									App Support and Maintenance for React Native Apps.
									</p>
								</p>
							</div>
							<div class="single-service-wrapper">
									<h1><i class="fa fa-android"></i></h1>
									<h4>Artificial Intelligence</h4>
									<p>
										Work A project of intelligent machines that work and react like humans.
									</p>
								</div>
						</div>
						<div class="col-md-4">
							<div class="single-service-wrapper">
								<h1><i class="fa fa-code"></i></h1>
								<h4>Web Development</h4>
								<p>I develop the backend for the website or a system software. Including Node and mongoDB to develop the backend.</p>
							</div>
							<div class="single-service-wrapper">
									<h1><i class="fa fa-empire"></i></h1>
									<h4>ERP</h4>
									<p>Including Django & MongoDB for the backend and with a Front-end React ui design i Develop ERP System.</p>
								</div>
						</div>
						<div class="col-md-4">
							<div class="single-service-wrapper">
								<h1><i class="fa fa-desktop"></i></h1>
								<h4>Desktop Application</h4>
								<p>Strong knowladge & Working experience with Kivy, PyQt, PyGUI.</p>
							</div>
							<div class="single-service-wrapper">
									<h1><i class="fa fa-cogs"></i></h1>
									<h4>Machine Learning</h4>
									<p>Excellent organizational and analytical skills. Experience of developing data science capability. Strong background in Python.</p>
								</div>
						</div>
						</div>
					</div>
				</div>
				</div>
			</div>
		</section>
		<!--------------features section 1 close-------------->
		<!---------------------------------------------------->
		<!--------------features section 1 close-------------->
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<!--------------skill section 1 start-------------->
		<!---------------------------------------------------->
		<!--------------skill section 1 start-------------->
		
		<section id="skill-section">
			
				
				<div class="container fadeIn animated">
				
				<div class="align-wrapper">
					<div class="title-wrapper">
						<h1>Skills</h1>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="single-skill-wrapper">
								<h4>Front-end</h4>
								<div class="single-percentage">
								<h6>HTML5<span class="pull-right">85%</span></h6>
									<div class="progress">
									  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="90" style="width: 85%;">
										
									  </div>
									</div>
								</div>
								<div class="single-percentage">
								<h6>CSS3<span class="pull-right">70%</span></h6>
									<div class="progress">
									  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
										
									  </div>
									</div>
								</div>
								<div class="single-percentage">
								<h6>BOOTSTRAP<span class="pull-right">75%</span></h6>
									<div class="progress">
									  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
										
									  </div>
									</div>
								</div>
							</div>
							
							<div class="single-skill-wrapper">
								<h4>Scripting Languages</h4>
								<div class="single-percentage">
								<h6>JAVASCRIPT<span class="pull-right">100%</span></h6>
									<div class="progress">
									  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
										
									  </div>
									</div>
								</div>
								<div class="single-percentage">
								<h6>SHELL<span class="pull-right">80%</span></h6>
									<div class="progress">
									  <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
										
									  </div>
									</div>
								</div>
								<div class="single-percentage">
										<h6>PHP<span class="pull-right">75%</span></h6>
											<div class="progress">
											  <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
												
											  </div>
											</div>
										</div>
							</div>
							
							<div class="single-skill-wrapper">
								<h4>Database</h4>
								<div class="single-percentage">
								<h6>MONGODB<span class="pull-right">100%</span></h6>
									<div class="progress">
									  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="80" style="width: 100%;">
										
									  </div>
									</div>
								</div>
								<div class="single-percentage">
								<h6>MySQL<span class="pull-right">90%</span></h6>
									<div class="progress">
									  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="80" style="width: 90%;">
										
									  </div>
									</div>
								</div>
							</div>
							
							
						</div><!-- col6 close -->

						
						
						
						
						
						
						<div class="col-md-6">
							<div class="single-skill-wrapper">
								<h4>Frameworks</h4>
								<div class="single-percentage">
								<h6>REACT  &  REACT-NATIVE<span class="pull-right">100%</span></h6>
									<div class="progress">
									  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
										
									  </div>
									</div>
								</div>
								<div class="single-percentage">
								<h6>DJANGO<span class="pull-right">100%</span></h6>
									<div class="progress">
									  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
										
									  </div>
									</div>
								</div>
								<div class="single-percentage">
								<h6>EXPRESS<span class="pull-right">100%</span></h6>
									<div class="progress">
									  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
										
									  </div>
									</div>
								</div>
								<div class="single-percentage">
								<h6>FLASK<span class="pull-right">100%</span></h6>
									<div class="progress">
									  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
										
									  </div>
									</div>
								</div>
							</div>
							
							
							<div class="single-skill-wrapper">
								<h4>Programming Languages</h4>
								<div class="single-percentage">
								<h6>PYTHON<span class="pull-right">100%</span></h6>
									<div class="progress">
									  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
										
									  </div>
									</div>
								</div>
								<div class="single-percentage">
								<h6>JAVA<span class="pull-right">75%</span></h6>
									<div class="progress">
									  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
										
									  </div>
									</div>
								</div>
								<div class="single-percentage">
								<h6>C<span class="pull-right">85%</span></h6>
									<div class="progress">
									  <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="70" style="width: 85%;">
										
									  </div>
									</div>
								</div>
							</div>
							
							<div class="single-skill-wrapper">
								<h4>Backend</h4>
								<div class="single-percentage">
								<h6>NODE<span class="pull-right">100%</span></h6>
									<div class="progress">
									  <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="70" style="width: 100%;">
										
									  </div>
									</div>
								</div>
								<div class="single-percentage">
								<h6>PYTHON<span class="pull-right">100%</span></h6>
									<div class="progress">
									  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="30" style="width: 100%;">
										
									  </div>
									</div>
								</div>
							</div>
						</div><!-- row close -->
					</div>
				</div>
			</div>
		</section>
		
		
		<!--------------skill section 1 close-------------->
		<!---------------------------------------------------->
		<!--------------skill section 1 close-------------->
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<!--------------experience section 1 start-------------->
		<!---------------------------------------------------->
		<!--------------experience section 1 start-------------->
		
		<section id="experience-section">
			<div class="container fadeIn animated">
				<div class="align-wrapper">
					<div class="title-wrapper">
						<h1>Experiences</h1>
					</div>
					
					<div class="row">
						<div class="col-md-12">
							<div class="single-exp">
								<div class="row">
									<div class="col-md-4">
										<div class="date-name">
											<span class="">March 1, 2018 to present</span>
										</div>
										<div class="inst-name">
											<h4>IT Grow Division Ltd.</h4>
										</div>
										<div class="post-name">
											<p>React-native Developer.</p>
										</div>
										<div class="inst-address">
											<p>59, Park Road, Baridhara, Dhaka 1212.</p>
										</div>
									</div>
									<div class="col-md-8">
										<div class="exp-info">			
												<p>Working on their ERP management System and WEb Application. That was an ecommerce websiteby which the online courses were ordered. I was very happy to work with those members. The members were so much friendly and they always encouraged to work with.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="single-exp">
								<div class="row">
									<div class="col-md-4">
										<div class="date-name">
											<span class="">2017-2018</span>
										</div>
										<div class="inst-name">
											<h4>Baridhara Cosmopolitan Club Limited.</h4>
										</div>
										<div class="post-name">
											<p>Sowtware Developer.</p>
										</div>
										<div class="inst-address">
											<p>59, Park Road, Baridhara, Dhaka 1212</p>
										</div>
									</div>
									<div class="col-md-8">
										<div class="exp-info">			
												<p>Working on their ERP management System and WEb Application. That was an ecommerce websiteby which the online courses were ordered. I was very happy to work with those members. The members were so much friendly and they always encouraged to work with.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="single-exp">
								<div class="row">
									<div class="col-md-4">
										<div class="date-name">
											<span class="">2016-2017</span>
										</div>
										<div class="inst-name">
											<h4>Copotronic InfoSystems Ltd.</h4>
										</div>
										<div class="post-name">
											<p>Software Developer & Trainer</p>
										</div>
										<div class="inst-address">
											<p>Flat-8B, Tropical Alauddin Tower, Rd #2, Sec#, Uttara.</p>
										</div>
									</div>
									<div class="col-md-8">
										<div class="exp-info">			
												<p>Trained a few batches with advanced Python Programming. And my development  started from there. The learning and teaching environment was fit for learn. My task was to train some batches polytechnic students python development. </p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<!--------------education section 1 start-------------->
		<!---------------------------------------------------->
		<!--------------education section 1 start-------------->
		
		<section id="education-section">
			<div class="container fadeIn animated">
				<div class="align-wrapper">
					<div class="title-wrapper">
						<h1>Education</h1>
					</div>
					
					<div class="row">
						<div class="col-md-12">
							<div class="single-edu">
								<div class="row">
									<div class="col-md-4">
										<div class="date-name">
											<span class="">2009-2010</span>
										</div>
										<div class="degree-name">
											<h4>Secondary School Certificate</h4>
										</div>
										<div class="result">
											<p>5.00 Out Of 5.00</p>
										</div>
										<div class="inst-address">
											<p>Mymensingh Zilla School</p>
										</div>
									</div>
									<div class="col-md-8">
										<div class="edu-info">			
												<p>That was an childhood best time when i remeber the 2009 session. I have made a 5.00 out of 5.00 in SSC exam. And the 7 years remarkable childhood moments i never forget. </p>
										</div>
									</div>
								</div>
							</div>
							<div class="single-edu">
								<div class="row">
									<div class="col-md-4">
										<div class="date-name">
											<span class="">2011-2012</span>
										</div>
										<div class="degree-name">
											<h4>Higher Secondary Certificate</h4>
										</div>
										<div class="result">
											<p>4.00 Out Of 5.00</p>
										</div>
										<div class="inst-address">
											<p>Syed Nazrul Islam College</p>
										</div>
									</div>
									<div class="col-md-8">
										<div class="edu-info">			
												<p>From here i achieved 4.00 out of 5.00. Which was too much painful for me. And there was a reason for get this result. I was badly injured 4 days before the exam and i was unable to survive. But i am satisfied with this result.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="single-edu">
								<div class="row">
									<div class="col-md-4">
										<div class="date-name">
											<span class="">2018</span>
										</div>
										<div class="degree-name">
											<h4>BSC In CSE</h4>
										</div>
										<div class="result">
											<p>3.26 Out Of 4.00</p>
										</div>
										<div class="inst-address">
											<p>Stae University Of Bangladesh</p>
										</div>
									</div>
									<div class="col-md-8">
										<div class="edu-info">			
												<p>From here i achieved 3.26 out of 4.00. I have learned a lot of things from this university. I got a real environment for learning and i have captured the basic programming algorythm from here.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<!--------------work section start-------------->
		<!---------------------------------------------------->
		<!--------------work section start-------------->
		
		<section id="work-section">
			<div class="container fadeIn animated">
				<div class="align-wrapper">
					<div class="title-wrapper">
						<h1>My Works</h1>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="single-work-wrapper">
								<div class="img-cover">
									<img src="img/work1.jpg" alt="" class=""/>
								</div>
								<div class="info">
									<p><span class="span-cat">Category:</span> Web Design<span class="pull-right"><i class="fa fa-calendar"></i>03 Nov,15</span></p>
									<div class="tags-cover">
										<ul>
											<li>Html5</li>
											<li>Css3</li>
											<li>Javascript</li>
											<li>Jquery</li>
										</ul>
									</div>
									<div class="link-cover">
										<h4><i class="fa fa-link"></i><a href="http://fostr.com" target="_blank">fostr.com</a></h4>
									</div>
								</div>
								
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="single-work-wrapper">
								<div class="img-cover">
									<img src="img/work2.jpg" alt="" class=""/>
								</div>
								<div class="info">
									<p><span class="span-cat">Category:</span> Web Design<span class="pull-right"><i class="fa fa-calendar"></i>03 Nov,15</span></p>
									<div class="tags-cover">
										<ul>
											<li>Html</li>
											<li>Css</li>
											<li>Javascript</li>
											<li>parallax</li>
										</ul>
									</div>
									<div class="link-cover">
										<h4><i class="fa fa-link"></i><a href="http://boy-coy.com" target="_blank">boy-coy.com</a></h4>
									</div>
								</div>
								
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="single-work-wrapper">
								<div class="img-cover">
									<img src="img/work3.jpg" alt="" class=""/>
								</div>
								<div class="info">
									<p><span class="span-cat">Category:</span> Web Design<span class="pull-right"><i class="fa fa-calendar"></i>03 Nov,15</span></p>
									<div class="tags-cover">
										<ul>
											<li>Html</li>
											<li>Css</li>
											<li>Bootstrap</li>
											<li>Angular.js</li>
										</ul>
									</div>
									<div class="link-cover">
										<h4><i class="fa fa-link"></i><a href="http://www.bartleboglehegarty.com/" target="_blank">bartleboglehegarty.com</a></h4>
									</div>
								</div>
								
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="single-work-wrapper">
								<div class="img-cover">
									<img src="img/work4.jpg" alt="" class=""/>
								</div>
								<div class="info">
									<p><span class="span-cat">Category:</span> Web Design<span class="pull-right"><i class="fa fa-calendar"></i>03 Nov,15</span></p>
									<div class="tags-cover">
										<ul>
											<li>Html</li>
											<li>Css</li>
											<li>Javascript</li>
											<li>Angular.js</li>
										</ul>
									</div>
									<div class="link-cover">
										<h4><i class="fa fa-link"></i><a href="http://www.rezo-zero.com" target="_blank">rezo-zero.com</a></h4>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<!--------------client say section start-------------->
		<!---------------------------------------------------->
		<!--------------client say section start-------------->
		
		
		<section id="testimonial-section">
				<div class="container fadeIn animated">
				<div class="align-wrapper">
				<div class="title-wrapper">
					<h1>References</h1>
				</div>
					<div class="wow faceIn row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div id="client-carousel">	
								<div class="single-comment-bucket-loop">
									<div class="row client-img-info-cover">
										<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
											<div class="client-img-cover">
												<img src="img/11.jpg" class="img-responsive" alt=""/>
											</div>
										</div>
										<div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
											<div class="client-name-cover">
												<h5>Dhiman Das</h5>
												<p>Senior Programmer</p>										
												<p>TwinBit.Ltd</p>										
											</div>	
										</div>
									</div>
									<div class="row comment-cover">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="client-say-cover">
													<p>I personally know <%= name %> and he is good at web design and developing and i hope he will do his best to get his aim</p>
											</div>
										</div>								
									</div>	
								</div>	

								<div class="single-comment-bucket-loop">
									<div class="row client-img-info-cover">
										<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
											<div class="client-img-cover">
												<img src="img/22.jpg" class="img-responsive" alt=""/>
											</div>
										</div>
										<div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
											<div class="client-name-cover">
												<h5>Muhammad Badruzzaman</h5>
												<p>System Engineer</p>										
												<p>JICA Clearing House Project</p>										
											</div>	
										</div>
									</div>
									<div class="row comment-cover">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="client-say-cover">
													<p>As far as i know <%= name %> is helpful person and he always like to busy with web related works. He is also a good designer.</p>
											</div>
										</div>								
									</div>	
								</div>	

								<!--<div class="single-comment-bucket-loop">
									<div class="row client-img-info-cover">
										<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
											<div class="client-img-cover">
												<img src="img/comment-people1.png" class="img-responsive" alt=""/>
											</div>
										</div>
										<div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
											<div class="client-name-cover">
												<h5>Shamitra.D</h5>
												<p>CEO at Blastic Point</p>										
											</div>	
										</div>
									</div>
									<div class="row comment-cover">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="client-say-cover">
													<p>i have previewed your job description and i want to do this job.i am expert in html5. i have previewed your job description and i want to do this job.i am expert in html5.</p>
											</div>
										</div>								
									</div>	
								</div>	-->	
							</div>						
						</div>
					</div>
				</div>			
				</div>			
			
		</section>
		
		
		<!--------------client say section close-------------->
		<!---------------------------------------------------->
		<!--------------client say section close-------------->
		
		
		
		
		
		<!--------------contact section start-------------->
		<section id="contact-section">
			<div class="container fadeIn animated">
				<div class="align-wrapper">
					<div class="title-wrapper">
						<h1>Feel Free To Contact With Me</h1>
					</div>
					<div class="contact-wrapper">	
					<div class="row">
						<div class="col-md-3">
							<div class="single-contact">
								<i class="fa fa-location-arrow"></i>
								<!-- <p>T-23 Nurjahan Road</p> -->
								<p>897, 4/A Shahidbug, Dhaka, Bangladesh</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="single-contact">
								<i class="fa fa-skype"></i>
								<p><%= name %></p>
								<!-- <p>antu.sub</p> -->
							</div>
						</div>
						<div class="col-md-3">
							<div class="single-contact">
								<i class="fa fa-phone"></i>
								<p>+880-<%= number %></p>
								<!-- <p>+880-1534809069</p> -->
							</div>
						</div>
						<div class="col-md-3">
							<div class="single-contact">
								<i class="fa fa-envelope"></i>
								<!-- <p><%= email %></p> -->
								<p>contact.imrankhan.xyz</p>
							</div>
						</div>
							
						</div>
					</div>
					</div>
				</div>
			</div>
		</section>
		
	
		
		
		<!--------------footer section 1 start-------------->
		<!-------------------------------------------------->
		<!--------------footer section 1 start-------------->
		<section id="footer-section">
			<div class="container fadeIn animated">
				<div class="row">              
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="img-cover">
							<img src="img/1472.jpg" alt="" class=""/>
						</div>
						<div class="info-cover">
							<h5>Designed By <%= name %></h5>
							<p>@copyright. All Rights Are Reserved.</p>
						</div>
					</div>
				</div>
			</div>
        </section>
        <!--------------footer section 1 close-------------->
		<!-------------------------------------------------->
		<!--------------footer section 1 close-------------->

		

		
		
		

        
        <!--scripts-->
		<script src="js/wow.min.js"></script>
		<script>
		 new WOW().init();
		</script>
		<script src="js/vendor/jquery-1.11.2.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$('ul li a').click(function(){
					$('li a').removeClass("active");
					$(this).addClass("active");
				});
			});
		</script>
		<script>
			$(document).ready(function(){ $('.nav li a').click(function() { if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) { var $target = $(this.hash); $target = $target.length && $target || $('[name=' + this.hash.slice(1) +']'); if ($target.length) { var targetOffset = $target.offset().top; $('html,body') .animate({scrollTop: targetOffset}, 1000); return false; } } }); });
		</script>
		<script src="js/jquery.counterup.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/plugins.js"></script>
        <script src="js/bootstrap.min.js"></script>  	 
        <script src="js/owl.carousel.min.js"></script>  	 
        <script src="js/isotope.pkgd.min.js"></script> 
		<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script type="text/javascript" src="js/mapInitialize.js"></script>
		<script src="js/plugins.js"></script>
    </body>
</html>

